body {
  /* ::typography:: */
  font-family: "Courier New", Courier, monospace;
}

img {
  /* ::box-model:: */
  height: 100px;
  width: 100px;
}

.title {
  /* ::typography:: */
  font-size: 36px;
  font-weight: 900;
}

.footer {
  /* ::box-model:: */
  background: #eee;
  height: 52px;

  /* ::layout - position:: */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* ::::layout - flex:::: */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* == ASSIGNMENT == */
.main-container {
  /* ::position - flex:: */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.images-container {
  /* ::layout:: */
  display: flex;
  gap: 52px;
}

.item {
  /* ::typography:: */
  text-align: center;

  /* ::box-model:: */
  width: 200px;
}
/* == END ASSIGNMENT == */
