@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  /* ::typography:: */
  font-family: Roboto, sans-serif;

  /* ::box-model:: */
  height: 100vh;
  margin: 0;
  overflow: hidden;

  /* ::layout:: */
  display: flex; /* <= ASSIGNMENT =| */
  flex-direction: column; /* <= ASSIGNMENT =| */
  justify-content: space-between; /* <= ASSIGNMENT =| */
}

/* == ASSIGNMENT == */
a {
  /* ::typography:: */
  text-decoration: none;

  /* ::box-model:: */
  color: black;
}

ul {
  /* ::typography:: */
  list-style-type: none;

  /* ::box-model:: */
  margin: 0;
  padding: 0;

  /* ::layout:: */
  display: flex;
  gap: 16px;
}

.header,
.footer {
  /* ::layout:: */
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  /* ::box-model:: */
  background-color: #eeeeee;
}

.content {
  /* ::layout:: */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
/* == END ASSIGNMENT == */

img {
  /* ::box-model:: */
  width: 600px;
}

button {
  /* ::typography:: */
  font-family: Roboto, sans-serif;

  /* ::box-model:: */
  background: #eee;
  border-radius: 8px;
  border: none;
  padding: 8px; /* <= ASSIGNMENT =| */
}

input {
  /* ::box-model:: */
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 8px 24px;
  width: 400px;
}

/*
  >> NOTE <<
  Big difference:
  - solution uses `flex: 1` to make the content div fill the space
  - I used `justify-content: space between`
  For a less spartan page, solution makes sense.
*/
