body {
  /* ::typography:: */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* ::box-model:: */
  margin: 0;
  min-height: 100vh;

  display: flex; /* <= ASSIGNMENT =| */
  flex-direction: column; /* <= ASSIGNMENT =| */
}

.header {
  /* ::typography:: */
  font-size: 32px; /* <= ASSIGNMENT =| */
  font-weight: 900; /* <= ASSIGNMENT =| */

  /* ::box-model:: */
  background: darkmagenta;
  color: white;
  height: 72px;
  padding: 16px; /* <= ASSIGNMENT =| */

  /* ::layout:: */
  display: flex; /* <= ASSIGNMENT =| */
  align-items: center; /* <= ASSIGNMENT =| */
}

.footer {
  /* ::box-model:: */
  background: #eee;
  color: darkmagenta;
  height: 72px;

  /* ::layout:: */
  display: flex; /* <= ASSIGNMENT =| */
  align-items: center; /* <= ASSIGNMENT =| */
  justify-content: center; /* <= ASSIGNMENT =| */
}

.sidebar {
  /* ::box-model:: */
  background: royalblue;
  box-sizing: border-box;
  padding: 16px; /* <= ASSIGNMENT =| */
  width: 300px;

  /* ::layout:: */
  flex-shrink: 0; /* <= ASSIGNMENT =| */
}

.card {
  /* ::box-model:: */
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
}

/* == ASSIGNMENT == */
.content {
  /* ::layout:: */
  display: flex;
  flex-grow: 1;
}

.cards {
  /* ::box-model:: */
  padding: 48px;

  /* ::layout:: */
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  /* ::box-model:: */
  padding: 16px;
  width: 300px;
}

.sidebar a {
  /* ::typography:: */
  font-size: 24px;
  text-decoration: none;

  /* ::box-model:: */
  color: white;
}
/* == END ASSIGNMENT == */

/*
  >> NOTE <<
  Forgot to style the ul. Wasn't in self-check. And, getting kinda tired.
  Trying to finish but should probably have stopped a little while ago
 */
