.header {
  /* ::typography:: */
  font-family: monospace;

  /* ::box-model:: */
  background: papayawhip;
  padding: 16px; /* <= ASSIGNMENT =| */

  /* ::positioning:: */
  align-items: center; /* <= ASSIGNMENT =| */
  display: flex; /* <= ASSIGNMENT =| */
  justify-content: space-between; /* <= ASSIGNMENT =| */
}

.logo {
  /* ::typography:: */
  font-size: 48px;
  font-weight: 900;

  /* ::box-model:: */
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* ::typography:: */
  list-style-type: none; /* < this removes the dots on the list items */

  /* ::box-model:: */
  padding: 0; /* <= ASSIGNMENT =| */

  /* ::positioning:: */
  display: flex; /* <= ASSIGNMENT =| */
  gap: 16px; /* <= ASSIGNMENT =| */
}

a {
  /* ::typography:: */
  font-size: 22px;
  text-decoration: none; /* < this removes the line under the links */

  /* ::box-model:: */
  background: white;
  padding: 8px;
}

/*
  >> NOTE <<
  Solution sets ul margin property to 0. This does not make a difference in
  chrome. Probably better to be safe than sorry.
*/
