/* This is some magical font-importing. You'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
  /* ::typography:: */
  font-family: Besley, serif;

  /* ::box-model:: */
  background: #eee;
  margin: 0;
}

.header {
  /* ::box-model:: */
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 8px; /* <= ASSIGNMENT =| */

  /* ::layout:: */
  display: flex; /* <= ASSIGNMENT =| */
  justify-content: space-between; /* <= ASSIGNMENT =| */
}

.profile-image {
  /* ::box-model:: */
  background: rebeccapurple;
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 48px;
  width: 48px;
}

.logo {
  /* ::typography:: */
  font-size: 32px;
  font-style: italic;
  font-weight: 900;

  /* ::box-model:: */
  color: rebeccapurple;
}

button {
  /* ::box-model:: */
  color: white;
  background: rebeccapurple;
  border-radius: 8px;
  border: none;
  padding: 8px 24px;
}

a {
  /* ::typography:: */
  text-decoration: none;

  /* ::box-model:: */
  color: rebeccapurple;
}

ul {
  /* ::typography:: */
  list-style-type: none;
}

/* == ASSIGNMENT == */
.flex-align {
  /* ::box-model:: */
  margin: 0;
  padding: 0;

  /* ::layout:: */
  align-items: center;
  display: flex;
  gap: 16px;
}
/* == END ASSIGNMENT == */
